@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

section {
  margin-top: 7rem;
}

.introduction__header span {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 1.5s ease-in-out infinite;
}

.introduction__header span:hover {
  animation: wave 0.8s ease-in-out infinite;
}

.introduction__text_content {
  line-height: 2.2rem;
  text-align: justify;
}

.introduction__text_content p:not(:last-child) {
  margin-bottom: 1.2rem;
}

.introduction__img_content {
  display: none;
}

.my-photo {
  width: 100%;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .introduction__content {
    display: flex;
    gap: 4rem;
    align-items: center;
  }

  .introduction__text_content {
    width: 70%;
  }

  .introduction__img_content {
    display: block;
    width: 30%;
  }
}

@media only screen and (min-width: 1440px) {
  .introduction__content {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .introduction__text_content {
    width: 80%;
  }

  .introduction__img_content {
    display: block;
    width: 20%;
  }
}
