/* Layout Classes */

.main-layout {
  margin: 0 auto;
  padding: 32px;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-layout {
    padding: 32px 100px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .main-layout {
    padding: 32px 200px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-layout {
    padding: 32px 400px;
  }
}

/* Utilities classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    margin-bottom: 7rem;
  }
}

.weight-600 {
  font-weight: 600;
}

.page_link {
  text-decoration: underline;
  cursor: pointer;
  transition:
    color 0.5s ease,
    font-weight 0.5s ease;
}

.page_link:hover {
  color: #000;
  font-weight: 700;
}

.section__header {
  margin-bottom: 2.5rem;
}

.button {
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  border: 1px solid #00000026;
  border-width: 1px;
  border-radius: 0.25rem;
  font-weight: 600;
  flex-wrap: nowrap;
  width: fit-content;
  cursor: pointer;
  transition:
    box-shadow 0.4s ease,
    color 0.4s ease,
    font-weight 0.4s ease;
}

.button span {
  margin-left: 0.75rem;
}

.button:hover {
  color: #000;
  font-weight: 700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.link__item {
  text-decoration: underline;
  cursor: pointer;
  transition:
    color 0.5s ease,
    transform 0.5s ease,
    font-weight 0.5s ease;
}

.link__item:hover {
  color: #000;
  transform: translateY(-3px);
  font-weight: 700;
}

.link__item_separator {
  padding: 0 6px;
}
