/* Utilities classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    margin-bottom: 7rem;
  }
}

.weight-600 {
  font-weight: 600;
}

.page_link {
  text-decoration: underline;
  cursor: pointer;
}

.page_link:hover {
  color: #000;
  font-weight: 700;
}

.section__header {
  margin-bottom: 2.5rem;
}
