/* Latest Posts Section */

.latest_posts__header {
  margin-bottom: 2.5rem;
}

.latest_post__link {
  text-decoration: underline;
  cursor: pointer;
}

.latest_post__link:hover {
  color: #000;
  font-weight: 700;
}

.latest_posts__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Post Card */

.post_card {
  border: 1px solid #00000026;
  padding: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.post_card__content h6 {
  margin-bottom: 10px;
  font-weight: 600;
}

.post_card__link {
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
}

.post_card__link:hover {
  color: #000;
  font-weight: 800;
  font-size: 1.5rem;
}
