/* Header */

header {
  margin-bottom: 100px;
}

.logo {
  cursor: pointer;
}

.logo:hover {
  opacity: 60%;
}

/* Navigation Items */

.nav__item {
  text-decoration: underline;
  cursor: pointer;
}

.nav__item:hover {
  color: #000;
  font-weight: 700;
}

.nav__item_separator {
  padding: 0 6px;
}
